{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-2">
        <div class="text-center"><h1>Шаг 2</h1></div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="text-center"><h2>Отрегулируй размеры фото</h2></div>
    </div>
</div>
<form method="post">
    <div class="row">
        <div class="col-5">
            <div class="text-right"><h4>Задайте новую высоту (в % от предыдущей)</h4></div>
        </div>
        <div class="col-7">
            {{ form.y }}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="text-right"><h4>Задайте новую ширину (в % от предыдущей)</h4></div>
        </div>
        <div class="col-7">
            {{ form.x }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-right">{{ form.submit() }}</div>
        </div>
    </div>
</form>
<form>
    <div class="text-right">{{ form.to_step3() }}</div>
</form>
<img src="static/editor/{{id}}/{{name}}">
{% endblock %}