{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-2">
        <div class="text-center"><h1>Шаг 2</h1></div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="text-center"><h2>Отрегулируй размеры фото</h2></div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="text-right"><h4>Какая высота должна быть?</h4></div>
    </div>
    <div class="col-7">
        <form method="post" novalidate>
        {{ form.y }}
        </form>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="text-right"><h4>Какая ширина должна быть?</h4></div>
    </div>
    <div class="col-7">
        <form method="post" novalidate>
        {{ form.x }}
        </form>
    </div>
</div>
<form method="post" class="col-9">
    <div class="row">
        <div class="col-12">
            <div class="text-right">{{ form.to_step3() }}</div>
        </div>
    </div>
</form>
{% endblock %}