{% extends "base.html" %}

{% block content %}
<div style="position:relative" id="PAGES_CONTAINERcenteredContent" class="pc1centeredContent">
    <div style="display:none" id="PAGES_CONTAINERbg" class="pc1bg"></div>
    <div style="position:relative" id="PAGES_CONTAINERinlineContent" class="pc1inlineContent">
        <div style="width:100%">
            <div data-ismobile="false" data-is-mesh-layout="true"
                 style="height:100%;left:0;position:relative;top:;bottom:;right:" class="p2" id="conr">
                <div style="margin-left:calc((100% - 980px) / 2);width:980px" id="conrbg" class="p2bg"></div>
                <div id="conrinlineContent" class="p2inlineContent">
                    <style id="conr-mesh-styles">

#conrinlineContent {
    height: auto;
    width: 100%;
    position: relative;
}

#conrinlineContent-gridWrapper {
    pointer-events: none;
}

#conrinlineContent-gridContainer {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 500px;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}

#WRchTxt4-m6b {
    position: relative;
    margin: 30px 0px 23px calc((100% - 980px) * 0.5);
    left: 20px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jt9vou8v {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 298px;
    grid-area: 1 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

#comp-jt9xmm6m {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    left: 9px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}

#conrcenteredContent {
    position: relative;
}

#conrinlineContent-gridContainer > * {
    pointer-events: initial;
}

#conrinlineContent-gridContainer > [id$="-rotated-wrapper"] {
    pointer-events: none;
}

#conrinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
    pointer-events: initial;
}


                    </style>
                    <div id="conrinlineContent-gridWrapper" data-mesh-internal="true">
                        <div id="conrinlineContent-gridContainer" data-mesh-internal="true">
                            <div data-packed="false"
                                 style="top:;bottom:;left:;right:;width:299px;height:auto;position:;min-height:150px;pointer-events:none"
                                 data-min-height="150" class="txtNew" id="WRchTxt4-m6b"><h1 class="font_2"
                                                                                            style="font-size:50px;">
                                <span style="font-size:50px;"><span style="font-family:play,sans-serif;"><span
                                        style="background-color:#6CC90E;">СОЗДАЙ ФОТО, КОТОРОЕ ЗАПОМНЯТ</span></span></span>
                            </h1></div>
                            <div style="top:;bottom:;left:;right:;width:583px;height:513px;position:"
                                 data-exact-height="513" data-content-padding-horizontal="0"
                                 data-content-padding-vertical="0" title="" class="wp2" id="comp-jt9vou8v">
                                <div style="width:683px;height:513px" id="comp-jt9vou8vlink" class="wp2link">
                                    <div style="width:683px;height:513px;position:relative;top:0;left:0" data-style=""
                                         class="wp2img" id="comp-jt9vou8vimg"><img id="comp-jt9vou8vimgimage"
                                                                                   style="object-position:50% 50%;width:683px;height:513px;object-fit:cover"
                                                                                   alt="iphone_7_camera_04.jpg"
                                                                                   data-type="image"
                                                                                   src="static/photo.jpg"></div>
                                </div>
                            </div>
                            <div id="comp-jt9xmm6m" data-align="center" data-disabled="false" data-margin="0"
                                 data-should-use-flex="true" data-width="278" data-height="40" data-hidden="true"
                                 style="top:;bottom:;left:;right:;width:278px;height:40px;position:;visibility:hidden"
                                 class="style-jt9xof8k" data-state="desktop shouldUseFlex center"><a
                                    href="main.&lt;!DOCTYPE html&gt;&#10;&lt;html lang=" en="" dir="ltr">

                                <meta charset="utf-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}